body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
form {
    display: flex;
    flex-direction: column;

    background: linear-gradient(#defffe 60%, #72fffa) padding-box,
    linear-gradient(180deg, #163564, #00F2FF) border-box;
    width: 35%;
    height: 80%;

    border: 0.3vi solid transparent;
    border-radius: 5%;
    
    box-shadow: 0 10px 30px rgba(38, 52, 255, 0.3);
}
.input {
    display: flex;
    flex-direction: column;
    margin: 5%;
}
label {
    color: #0A192F;
}
input {
    color: #0052FF;
    border-style: solid;
    border-radius: 5px;
}
button {
    background-color: #163564;
    align-self: center;
    width: 50%;
    color:#00F2FF;
    border-style: solid;
    border-color: #0A192F;
    border-radius: 5px;
}