body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12%;

    background: linear-gradient(white 50%, #72fffa) padding-box,
    linear-gradient(180deg, #163564, #0052FF) border-box;
    width: 35%;
    height: 60%;

    border: 0.3vi solid transparent;
    border-radius: 5%;
    
    box-shadow: 0 10px 30px rgba(38, 52, 255, 0.3);
}
.input {
    display: flex;
    flex-direction: column;
    width: 80%;
}
label {
    color: #0A192F;
    font-size: 150%;
}
input {
    color: #0052FF;
    border-style: solid;
    border-radius: 5px;
    size: 100%;
}
button {
    background-color: #00F2FF;
    color: #163564;
    align-self: center;
    width: 70%;
    font-size: 250%;
    border-style: solid;
    border-color: #0A192F;
    border-radius: 5px;
}
button:hover {
    background-color: #163564;
    color:#00F2FF;
    transition: 50ms;
    transform: translateY(0) scale(1.03);
    
    cursor: pointer;
}